@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic);
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* common to all three sizes */
.row {
  padding-left: 40px;
  padding-right: 40px; }

html {
  font-size: 16px;
  font-family: "Droid Serif", sans-serif; }

body {
  background: #EFF9EC; }

article {
  width: 70%; }

aside {
  width: 30%; }

h1 {
  color: #57C1C7;
  background-color: #389FA8;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
  letter-spacing: 3px;
  text-align: center; }

h2 {
  padding-top: 40px;
  padding-bottom: 5px;
  font-size: 32px; }

h2 a, h3 a {
  border-bottom: 1px dashed #389FA8; }

h3 {
  color: #389FA8;
  padding-bottom: 40px;
  padding-top: 5px; }

article p {
  line-height: 27px; }

ul {
  text-align: center; }

ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }

a {
  color: #14273D;
  text-decoration: none; }

.nav li {
  padding-top: 15px;
  padding-bottom: 15px; }

h4 {
  font-size: 24px;
  color: #389FA8; }

/* small version */
@media only screen and (max-width:640px) {
  div.row:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
  article {
    width: 100%;
    padding-bottom: 40px; }
  aside {
    display: none;
    width: 0%; }
  .nav li {
    display: none; }
  footer .left {
    display: none; }
  footer {
    border-top: solid 1px #389FA8;
    padding-top: 20px;
    padding-bottom: 25px; } }

/* medium version */
@media only screen and (min-width:640px) and (max-width: 960px) {
  .row:nth-child(2) {
    padding-left: 0px;
    padding-right: 0px; }
  h1 {
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid #57C1C7;
    border-bottom: 1px solid #57C1C7;
    font-size: 18px;
    background-color: #EFF9EC;
    letter-spacing: 5px;
    color: #57C1C7; }
  aside {
    width: 100%;
    padding-bottom: 40px; }
    aside p {
      padding-bottom: 45px; }
  article {
    width: 100%;
    padding-bottom: 80px; }
  .read_more {
    display: block;
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: #389FA8;
    text-align: center;
    color: #57C1C7; }
  h4 {
    padding-bottom: 15px;
    font-size: 20px; }
  .left p {
    display: none; }
  footer .right {
    padding-top: 24px;
    border-top: solid 1px #389FA8;
    padding-bottom: 24px; } }

/* large version */
@media only screen and (min-width:961px) {
  .row {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto; }
  body {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #389FA8; }
  ul.nav, article, aside {
    background-color: #EFF9EC; }
  footer.row {
    max-width: 900px;
    background-color: #EFF9EC;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #389FA8;
    padding-bottom: 25px; }
  h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid #389FA8;
    border-bottom: 2px solid #389FA8;
    background-color: #EFF9EC;
    letter-spacing: 5px;
    color: #389FA8; }
  article {
    width: 69.75%;
    float: left;
    border-right: 1px solid #389FA8;
    padding: 25px;
    box-sizing: border-box; }
  aside {
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    float: right;
    height: 100%; }
    aside h4 {
      padding-bottom: 10px; }
    aside p {
      line-height: 30px;
      padding-bottom: 50px; }
    aside .read_more {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #389FA8;
      text-align: center;
      color: #57C1C7; }
  .row.clearfix {
    background-color: #EFF9EC;
    padding-left: 0;
    padding-right: 0; }
  div.footer {
    border-top: 1px solid #389FA8;
    padding-top: 25px; }
  footer .left {
    padding-top: 25px;
    float: right; }
  footer .right {
    padding-top: 25px;
    float: left; } }
